/*.dropdown {
  margin: 0px auto;
  position: relative;
  width: calc(100% - 40px);
  max-width: 400px;
}

.dropdown label {
  display: block;
  padding: 8px 16px;
  background: #cccccc;
  color: #151414;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.dropdownArrow{
    height: 50px;
}

.dropdown ul {
  list-style: none;
  position: absolute;
  width: 100%;
}

.dropdown ul li {
  padding: 0px 16px;
  background: #DDD;
  color: #343838;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  height: 0px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.1s linear 0s;
}

.dropdown ul li:hover,
.dropdown ul li.selected {
  background: #00B4CC;
  color: #FAFAFA;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown:hover ul li {
  padding: 8px 16px;
  height: 34px;
}*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #fafafa;
    background-color: #1c1c8d; 
}
/* navBar search */
.accSearchArea{
    width: 45%;
    height: 80%;
    margin-top: 25px;
    margin-left: 12%;
}
.selectDiv{
    width: 20%;
    display: inline-block;
    height: 70%;
    margin-top:0;
}

.searchBar{
    height: 100%;
    margin-left: 20px;
}
.searchBarBtn{
    margin-left:0;
    background-color: transparent;
}

.accSearchBar{
    width: 70%;
    height: 70%;
    display:inline-block;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 23px;
    margin-right:1%;
    color: #271e1e;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2%;
}


.accSearchBar::-webkit-input-placeholder {
   font-family: 'Arvo', serif;
   font-size: 23px;
   color: #656565;
    
}

.navbarSearch{
    width:50px;
    height:50px;
}

/* select dropdown menu */

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    font-size:20px;
}

.caret{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #d3d3d3 ;
}

.dropdown-menu>li>a{
    font-size:20px;
    font-family:  'Arvo', serif;
    font-weight: 400;
}
.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,.btn-group>.btn:first-child{
    background-color:white;
    height: 100%;
    font-family: 'Arvo', serif;
    font-weight: 400;
    color: #656565;

}

.bootstrap-select.btn-group .dropdown-menu li a{
    padding-left:10px;
    height:50px;
    padding-top:8px;
}

/* window container */
#accTabBar.tabContent{
    height: 800px;
}
    
.accWindowContainer{
    height:100%;
    background-color: rgb(172,192,254);
}

#accTabLinks.tabLinks{
    padding:0;
}

.accWindow{
    height: 50%;
}

.col-md-4{
    margin-top: 5%;
}

#accTabBar{
    height:100%;
    background-color: white;
}

.tabLinks a{
    font-size: 30px;
    text-align:center;
    font-weight: 400;
    font-family: 'Arvo', serif;
}

li.active a, li.active a:hover{
    font-weight:700;
}


.accForm{
    font-family: 'Arvo', serif;
}

.form-control.accInputBox{
    height: 10%;
    margin-left: 15%;
    width: 70%;
    border-color: #403636;
    margin-bottom: 4%;
    margin-top: 4%;

    font-size: 25px;
    color: #271e1e;
}

a:focus, a:hover{
    text-decoration: none;
    color: #1e0101;
}
a{
    color: #656565;
    font-size: 25px;
}

.accLabel{
    margin-left: 15%;
    margin-bottom: 1%;
}


/* loginForm */

#loginForm.accForm{
    padding-top: 30%;
    font-size: 25px;

}

.loginResponse{
    padding-top:5%;
    margin-left: 15%;
}

button.btn.btn-success.formLoginBtn{
    margin-left: 25%;
    width: 22%;
    height: 9%;
    font-size: 25px;
}

/*signUpForm*/

#signupForm.accForm{
    padding-top: 25%;
    font-size:20px;
}
.form-control.accInputBox.signUpInput{
    height: 8%;
    margin-left: 15%;
    width: 70%;
    border-color: #403636;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 20px;
    color: #271e1e;
}

button.btn.btn-danger{
    margin-left: 63%;
    width: 22%;
    height: 9%;
    font-size: 25px;
}

#loginErrorMsg{
   margin-left: 15%;
   color: red;
   font-size: 20px;
   font-weight: 700;
}

.signUpErrorMsg{
    margin-left: 15%;
    color: red;
    width: 70%;
    font-size: 18px;
}