input.sendEmailBox{
    height: 10%;
    width: 60%;
    border-color: #403636;
    margin-left: 10%;
    font-size: 25px;
    color: #271e1e;
}

.emailAddressMsg{
    height: 50%;
    margin-left: 500px;
}
.sendEmailMsg{
    margin-left: 10%;
    margin-top: 18%;
    font-size: 20px;
    padding-bottom: 1%;
    font-weight: 700;
}

.submitEmail{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 1%;
}

.sendEmailResponse{
    font-size: 20px;
    color: red;
    margin-left: 10%;
    margin-top: 1%;
}